/* body{
  background-color: #242526;
  color: #2c88ff;
} */

* {
  box-sizing: border-box;
}
body {
  background: #2a2e37;
}

.stats {
  justify-content: center;
  text-align: center;
  color: #ddd;
  font-size: 40px;
}

.stats p {
  display: inline-block;
}

.predictedpart{
  color: white;

}
.base {
}


.search {
  width: 100px;
  height: 100px;
  margin: 40px auto 0;
  background-color: #242628;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}
.search:before {
  content: "";
  display: block;
  width: 3px;
  height: 100%;
  position: relative;
  background-color: #fff;
  transition: all 0.5s ease;
}
.search.open {
  width: 60%;
}
.search.open:before {
  height: 60px;
  margin: 20px 0 20px 30px;
  position: absolute;
}
.search-box {
  width: 100%;
  height: 100%;
  box-shadow: none;
  border: none;
  background: transparent;
  color: #cd7040;
  padding: 20px 100px 20px 45px;
  font-size: 40px;
}
.search-box:focus {
  outline: none;
}
.search-button {
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
  cursor: pointer;
}

.search-icon {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 3px solid #fff;
  display: block;
  position: relative;
  margin-left: 5px;
  transition: all 0.5s ease;
}

.search-icon:before {
  content: "";
  width: 3px;
  height: 15px;
  position: absolute;
  right: -2px;
  top: 30px;
  display: block;
  background-color: #fff;
  transform: rotate(-45deg);
  transition: all 0.5s ease;
}
.search-icon:after {
  content: "";
  width: 3px;
  height: 15px;
  position: absolute;
  right: -12px;
  top: 40px;
  display: block;
  background-color: #fff;
  transform: rotate(-45deg);
  transition: all 0.5s ease;
}
.open .search-icon {
  margin: 0;
  width: 60px;
  height: 60px;
  border-radius: 60px;
}
.open .search-icon:before {
  transform: rotate(52deg);
  right: 22px;
  top: 23px;
  height: 18px;
}
.open .search-icon:after {
  transform: rotate(-230deg);
  right: 22px;
  top: 13px;
  height: 18px;
}


.results {
  width: 60%;
  margin: auto;
  background-color: #26282a;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}

.resultBox {
  color: #cd7040;
  vertical-align: middle;
  padding: 0px 10px 0px 45px;
}

.resultBox:hover {
  color: #dd8050;
  background-color: #36383a;
}

.result {
  margin: 0px;
  padding: 10px 10px;
}

.title {
  color: #cd7040;
  font-size: 120pt;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
