<!DOCTYPE html>
<html>

<header>
    <title>Hello from Flask</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/static/index.js"></script>
    <link rel="stylesheet" href="/static/index.css">

</header>

<body>
  <div class="TrumpTalk">
    <h1 class='title'>Trump Talk</h1>
    <div class="container">
      <p class="Timer">0.00 Seconds</p>
      <div class="search">
        <input id="search" type="text" class="search-box" />
        <span class="search-button">
          <span class="search-icon"></span>
        </span>
      </div>
      <div id='resultsHook' class="results">
      </div>
    </div>
  </div>

</body>

</html>
